

#input_k {
  background-color: #000000;
}
#input_n {
  background-color: #000000;
}
#input_lambda {
  background-color: #000000;
}
#input_maxPrihodi {
  background-color: #000000;
}
#input_maxCakanje {
  background-color: #000000;
}
#input_impDelez {
  background-color: #000000;
}
#input_impCas {
  background-color: #000000;
}
#select_skupineDist {
  background-color: #000000;
}

#input_stRazlicnihStr {
  background-color: #000000;
}
#input_porazdRazlicnihStr {
  background-color: #000000;
}

#input_vipDelez {
  background-color: #000000;
}

#input_dolocitevSkupinStr {
  background-color: #000000;
}

#input_enakoMu {
  background-color: #000000;
}

#input_skupineMu {
  background-color: #000000;
}

#input_razlicniMu {
  background-color: #000000;
}
